@media (min-width: 770px) {
    .display-sidebar-button{
        display: flex;
        justify-content: center;
        align-items: center
    }

    .dark-mode-switch-container{
        margin: 50px 16px;
    }

    .show-add-task-button{
        display: flex;
        justify-content: center;
        align-items: center
    }

    .delete-modal_button_group{
        flex-direction: row;
        justify-content: space-between;
    }
   
  }

  @media (max-width: 770px) {

    .dark-mode-switch-container{
        margin: 16px;
    }




  }

 